<nav class="fixed bottom-0 left-0 w-full z-50 flex flex-col items-center pointer-events-auto">
    <div class="w-[130%] bg-[#1b1c1e]/80 backdrop-blur-md -mb-5 rounded-t-[50%] px-8 py-6 flex justify-evenly items-start shadow-xl text-white z-10">
        <a [routerLink]="['/projects']" routerLinkActive="active-icon" class="transition mt-2 relative">
            <div class="icon-glow"></div>
            <img src="assets/icons/projets.svg" class="w-7 h-7 z-10 relative" />
        </a>
        <a [routerLink]="['/about']" routerLinkActive="active-icon" class="transition mt-1 relative">
            <div class="icon-glow"></div>
            <img src="assets/icons/message.svg" class="w-7 h-7 z-10 relative" />
        </a> 
        <a [routerLink]="['/play']" routerLinkActive="active-icon" class="transition mt-0 relative">
            <div class="icon-glow"></div>
            <img src="assets/icons/controller.svg" class="w-7 h-7 z-10 relative" />
        </a>
        <button (click)="switchLang()" class="transition mt-1 relative">
            <img src="assets/icons/settings.svg" alt="Lang switch" class="w-7 h-7" />
        </button>
        <a href="/assets/cv_cz.pdf" download class="transition mt-2 relative">
            <img src="assets/icons/download.svg" class="w-7 h-7" />
        </a>
    </div>
    <!-- Partie Bas -->
    <div class="w-full bg-[#18191b] text-white text-center py-3 text-sm tracking-wide rounded-t-[40%] z-20">
        {{ 'navbar.' + currentRoute | translate }}
    </div>
</nav>
