<section class="projects w-full min-h-screen bg-neutral-900 flex flex-col items-center justify-center gap-20">
    <div class="w-full flex flex-col gap-20">
        <ng-container *ngIf="isMobile; else desktopView">
            <app-project-card-mobile [projects]="projects"></app-project-card-mobile>
        </ng-container>
        <ng-template #desktopView>
            <app-project-card
                [projects]="projects"
                [currentProjectIndex]="currentProjectIndex"
                (projectSelected)="onProjectSelected($event)">
            </app-project-card>
        </ng-template>
    </div>
</section>
