<section class="w-full h-screen flex flex-col px-6 md:px-24 pt-32 text-white bg-black">
    <!-- Profil -->
    <div class="flex items-start gap-6 mb-12">
        <div class="relative w-20 h-20">
            <img src="assets/zizou/ziizouu.png" alt="Photo" class="w-full h-full object-cover object-top rounded-full border border-white" />
            <span class="absolute bottom-0 right-0 w-4 h-4 bg-green-500 rounded-full border border-black"></span>
        </div>
        <div>
            <h2 class="text-2xl font-semibold flex items-center">
                Ziizouu rSc
                <img src="assets/icons/plus.svg" alt="PS Plus" class="w-5 h-5 ml-2" />
            </h2>
            <div class="text-sm opacity-70 italic mt-1">ZiiZouu-rSc | {{ 'play.status.online' | translate }}</div>
        </div>
    </div>

    <!-- Onglets -->
    <nav class="flex gap-12 text-lg text-white/70 pb-2 mb-4">
        <button *ngFor="let tab of tabs" (click)="currentTab = tab.key" [ngClass]="{ 'text-white': currentTab === tab.key, 'hover:text-white': true, 'transition': true }">
            {{ tab.label | translate }}
        </button>
    </nav>
    <!-- Miniatures -->
    <div [ngSwitch]="currentTab" class="flex-1 overflow-y-auto scrollbar-hide pr-1">
        <div *ngSwitchCase="'games'" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 pb-12">
            <div *ngFor="let video of games" class="aspect-square bg-white/5 rounded-lg overflow-hidden shadow-md transition group relative hover:rounded-lg" [ngClass]="{ 'cursor-pointer hover:scale-105': video.embedUrl }" (click)="openModal(video.embedUrl)">
                <span *ngIf="!video.embedUrl" class="absolute top-2 left-2 z-10 text-xs bg-black/70 text-white px-2 py-1 rounded-full cursor-default">
                    {{ 'play.status.comingSoon' | translate }}
                </span>
                <img [src]="video.thumbnail" alt="Highlight" class="w-full h-full object-cover group-hover:opacity-80 transition"/>
            </div>
        </div>
    </div>
    <!-- Video -->
    <div *ngIf="selectedVideo" #videoModal class="fixed inset-0 z-50 flex items-center justify-center bg-black/90" (click)="closeModal()">
        <div class="relative w-[80vw] h-[45vw] max-w-5xl" (click)="$event.stopPropagation()">
            <iframe [src]="selectedVideo | safeUrl" class="w-full h-full rounded-xl shadow-lg" frameborder="0" allowfullscreen>
            </iframe>
            <button class="absolute top-2 right-2 bg-white/10 hover:bg-white/20 p-2 rounded-full" (click)="closeModal()">
                ✕
            </button>
        </div>
    </div>
</section>
