<section class="project-card w-full h-screen flex items-center justify-center px-10 py-8">
    <div class="project-card__container w-full max-w-7xl">
        <!-- Miniature -->
        <div class="flex justify-between items-start w-full">
        <!-- BLOC GAUCHE -->
            <div class="project-card__content flex flex-col items-start">
            <!-- Miniature seule en haut -->
                <div class="miniature_project w-48 h-48 bg-gray-800 rounded-xl shadow-lg overflow-hidden mb-10">
                <!-- Image Projet -->
                </div>
            </div>
        </div>

        <!-- CONTENU BAS : Titre + description, bouton + technos -->
        <div class="flex flex-col gap-8 mt-28">
        <!-- Texte -->
            <div class="flex flex-col gap-4">
                <h1 class="title_project text-black text-6xl font-bold tracking-wide font-montserrat">
                    TrIpGather
                </h1>
                <p class="text-black text-lg opacity-80 tracking-wide">
                    Site communautaire de compagnon de voyage
                </p>
            </div>

        <!-- Bloc ligne bouton & technos -->
            <div class="flex justify-between items-center w-full">
                <!-- Bouton -->
                <button class="btn_project w-72 py-5 bg-black/60 text-white text-xl font-semibold rounded-full backdrop-blur-sm hover:bg-white/20 hover:text-black transition">
                    Voir Plus
                </button>
                <!-- Bloc technos -->
                <div class="language_project bg-black/50 text-white px-10 py-6 rounded-xl shadow-lg text-lg">
                    <p class="opacity-60 text-base mb-1">Technologies</p>
                    <p class="font-semibold text-2xl">Angular, JS, Java, SQL</p>
                </div>
            </div>
        </div>
    </div>
</section>
