<section class="w-full h-screen flex flex-col justify-between px-20 py-12 bg-cover bg-center" [ngStyle]="{ 'background-image': 'url(' + currentProject.background + ')' }">
    <div class="absolute inset-0 bg-black/30"></div>
    <!-- Container -->
    <div class="relative z-10 flex flex-col justify-between h-full">
        <!-- Carousel -->
        <div class="relative w-full h-48 mb-12 overflow-visible">
            <div class="relative w-full h-full">
                <div #carouselList class="absolute top-[88px] h-full flex gap-2">
                    <div *ngFor="let project of projects; let i = index" class="transition-all duration-500 ease-in-out cursor-pointer rounded-xl shadow-lg overflow-hidden relative flex-shrink-0 flex-grow-0" [ngClass]="{ 'w-36 h-36 z-10 border-animated': i === currentProjectIndex, 'w-24 h-24 opacity-80 hover-card': i !== currentProjectIndex }" (click)="selectProject(i)">
                        <img [src]="project.image" alt="{{ project.title }}" class="w-full h-full object-cover rounded-xl"/>
                        <div *ngIf="i === currentProjectIndex" class="glow absolute inset-0 pointer-events-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Titre & Description -->
        <div class="flex flex-col gap-4">
            <h1 [ngClass]="[currentProject.fontClass, currentProject.textColor, 'text-6xl', 'font-bold', 'tracking-wide']">
                {{ currentProject.title }}
            </h1>
            <p [ngClass]="['sans', currentProject.textColor, 'text-lg', 'opacity-80', 'tracking-wide']">
                {{ currentProject.description | translate }}
            </p>
            <!-- Bouton & Technos -->
            <div class="flex justify-between items-center w-full mt-6">
                <!-- Bouton -->
                <div class="button-container relative z-[1] w-72 flex items-center justify-center p-[2px] rounded-full transition-all duration-300 overflow-hidden">
                    <div class="button-content relative z-[2] w-full h-full rounded-full">
                        <a [href]="currentProject.link" target="_blank" rel="noopener noreferrer" class="voir-plus-btn z-[3] w-full h-full px-5 py-5 rounded-full bg-black/50 text-white text-xl font-bold text-center no-underline border-0 cursor-pointer flex items-center justify-center transition-colors duration-150 hover:bg-white hover:text-black">
                            {{ 'project.button' | translate }}
                        </a>
                    </div>
                </div>
                <div class="relative">
                    <!-- Modèle 3D -->
                    <div class="absolute -top-80 left-1/2 transform -translate-x-1/2 w-80 h-80">
                        <canvas #canvas3D class="w-full h-full cursor-pointer"></canvas>
                    </div>
                    <!-- Bloc techno -->
                    <div class="bg-black/50 text-white px-10 py-6 rounded-xl shadow-lg text-lg">
                        <p class="opacity-60 text-base mb-1">Technos</p>
                        <p class="font-semibold text-2xl">
                            {{ currentProject.technos.join(', ') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>