<section class="w-full h-screen flex items-center justify-center bg-cover bg-center"[ngStyle]="{ 'background-image': 'url(' + background + ')' }">
    <div class="w-full h-full flex flex-col justify-between px-20 py-12">

        <!-- Haut : Miniature seule -->
        <div class="mt-6 mb-10 w-48 h-48 bg-gray-800 rounded-xl shadow-lg overflow-hidden">
            <img [src]="image" alt="Miniature" class="w-full h-full object-cover" />
        </div>
        <!-- Milieu : Titre + Description + Bouton -->
        <div class="flex flex-col gap-4">
            <!-- Titre -->
            <h1 [ngClass]="[fontClass, textColor, 'text-6xl', 'font-bold', 'tracking-wide']">
                {{ title }}
            </h1>

            <!-- Description -->
            <p [ngClass]="['font-montserrat', textColor, 'text-lg', 'opacity-80', 'tracking-wide']">
                {{ description }}
            </p>

            <!-- Bas : Bouton + Techno -->
            <div class="flex justify-between items-center w-full mt-6">
                <!-- Bouton -->
                <button class="w-72 py-5 bg-black/60 text-white text-xl font-semibold rounded-full backdrop-blur-sm hover:bg-white/20 hover:text-black transition">
                    Voir Plus
                </button>

                <!-- Bloc techno -->
                <div class="bg-black/50 text-white px-10 py-6 rounded-xl shadow-lg text-lg">
                    <p class="opacity-60 text-base mb-1">Technologies</p>
                    <p class="font-semibold text-2xl">
                        {{ technos.join(', ') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
